{% extends "layout.html" %}

{% block pageTitle %}
  Search for an address
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/index-address-service" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            Find an address
          </span>
        </span>
      </a>
      <br>
      <br>

    </div>
  </div>



</header>
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#address-errror">Enter an address or postcode and select it from the list</a>
      </li>

    </ul>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Where does the citizen live in the United Kingdom?

      </h1>
      <p>Search address using partial address or postcode </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

      <div class="govuk-form-group govuk-form-group--error">

      <h3 class="govuk-heading-m">Find address</h3>
      <p class="govuk-hint">Type the address or postcode and find address. For example ‘ne11dg’ or ’10 the street’ </p>

      <br>
      <form class="form " name="reason-form-2" action="select-address-no-js">
        <span id="address-error" class="govuk-error-message">
     <span class="govuk-visually-hidden">Error:</span> Enter an address or postcode and select it from the list
   </span>
      <div id="address-error"><input class="govuk-input govuk-!-width-two-fourth govuk-input--error " id="address-search" name="address-selected" type="text"></div>



      <br>
      <br>
      <button class="govuk-button" data-module="govuk-button">Find address</button>





      </form>
      </div>
      <br>





      </div>



    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

    <div class="govuk-grid-row govuk-!-padding-top-5" style="border:1px solid black; background:#f9f9f9;">
      <div class="govuk-grid-column-two-thirds" >

        <h1 class="govuk-heading-m">
          Other versions

        </h1>
        <p>When <a href="enter-textsearch">Javascript is not-disabled</a> in the user browser</p>


        <h1 class="govuk-heading-m">
          Errors

        </h1>

        <p>Error: <a href="no-address-found">No address matches found</a> <br>
        Error: <a href="enter-textsearch-no-js-no-text">No text entered</a></p>
        <p></p>
    </div>
    </div>



{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}
