{% extends "layout.html" %}

{% block pageTitle %}
  Select your address
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/index-address-service" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            Find an address
          </span>
        </span>
      </a>
      <br>
      <br>

    </div>
  </div>



</header>
{% endblock %}
{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">
            Select an address
          </h1>

            <form class="form" action="/address_look_up/complete" method="post">

              <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                      <p class="govuk-!-margin-top-4">We found 7 address matches for<br>
                        <strong style="font-size:1.3em;">{{ data['address-selected'] }}</strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="change-textsearch-no-js">Change</a></p>
                    </legend>
                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="address-confirmation1" name="address-confirmation" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="address-confirmation1">
                          1 TURNBERRY, WHITLEY BAY
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="address-confirmation2" name="address-confirmation" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="address-confirmation2">
                          2 NEWSTEADS FARM COTTAGES, WHITLEY BAY
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="address-confirmation2" name="address-confirmation" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="address-confirmation2">
                          3 NEWSTEADS FARM COTTAGES, WHITLEY BAY
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="address-confirmation2" name="address-confirmation" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="address-confirmation2">
                          4 NEWSTEADS FARM COTTAGES, WHITLEY BAY
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="address-confirmation2" name="address-confirmation" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="address-confirmation2">
                          5 NEWSTEADS FARM COTTAGES, WHITLEY BAY
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="address-confirmation2" name="address-confirmation" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="address-confirmation2">
                          6 NEWSTEADS FARM COTTAGES, WHITLEY BAY
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="address-confirmation2" name="address-confirmation" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="address-confirmation2">
                          7 NEWSTEADS FARM COTTAGES, WHITLEY BAY
                        </label>
                      </div>




                  </fieldset>

                </div><br>
                <p><a href="address-information-no-js.html" class="govuk-button">
                  Continue
                </a></p>
                <p><a href="no-address" >I can't find my address in the list</a></p>

          </form>
          <br>
          <br>

    </div>
  </div>

{% endblock %}
