{% extends "layout.html" %}

{% block pageTitle %}
  Address details
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/index-address-service" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            Find address using UPRN
          </span>
        </span>
      </a>
      <br>
      <br>

    </div>
  </div>



</header>
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="enter-uprn">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Address details</h1>

      <!-- <h2 class="govuk-heading-m">Address details</h2> -->

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UPRN
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['uprn-number'] | default('22223332232') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="enter-uprn">
              Change
              <span class="govuk-visually-hidden"> UPRN number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['selected-address'] | default('3 King Street South Shields NE33 1HT') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              <!-- Change -->
              <span class="govuk-visually-hidden">Selected address</span>
            </a>
          </dd>
        </div>


      </dl>



      <h2 class="govuk-heading-m">Actions</h2>

      <p>Few actions that can be performed (TBC).</p>

      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"> Copy address </button> &nbsp;
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"> Send address </button> &nbsp;
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"> Confirm and verify address </button>





<br>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<br>

<form action="/address-service/check-your-answers-uprn-answer" method="post" class="form">


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Do you want to find another address using a UPRN?
      </h2>
      <br>
    </legend>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another-address" name="another-address" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="another-address">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="another-address" name="another-address" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="another-address">
          No
        </label>
      </div>
    </div>
    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">Continue</button>

</form>




    </div>
  </div>
{% endblock %}
