{% extends "layout.html" %}

{% block pageTitle %}
Address details

{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/address-service/typeahead-start" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            Search for an address
          </span>
        </span>
      </a>
      <br>
      <br>

    </div>
  </div>



</header>
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="address-details-postcode">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Address details</h1>

      <!-- <h2 class="govuk-heading-m">Address details</h2> -->

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            3 King Street South Shields NE33 1HT
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="enter-textsearch">
              Change
              <span class="govuk-visually-hidden">Postcode</span>
            </a>
          </dd>
        </div>



      </dl>



      <h2 class="govuk-heading-m">Actions</h2>

      <p>Few actions that can be performed (TBC).</p>

      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"> Copy address </button> &nbsp;
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"> Send address </button> &nbsp;
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"> Confirm and verify address </button>

<br>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<br>



  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Do you want to search for another address?
      </h2>
      <br>
    </legend>
    <a href="enter-textsearch"><button class="govuk-button" data-module="govuk-button">Search for address</button></a> &nbsp; &nbsp; <br>
    <p>If you do not want to search for another address, close the browser window or tab.</p>
    </fieldset>
  </div>






    </div>
  </div>
{% endblock %}
