{% extends "layout.html" %}

{% block pageTitle %}
  Search for an address
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/address-service/main-address-service-start" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            Search for an address
          </span>
        </span>
      </a>
      <br>
      <br>

    </div>
  </div>



</header>
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="main-address-lookups">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        What is the incomplete address?
      </h1>

      <p class="govuk-hint">Start typing the incomplete address or postcode. For example '1 King Street' or 'King Street South Shields' or 'NE33 1HT'</p>

      <br>
      <form class="form " name="reason-form-2" action="main-check-address-textsearch" onsubmit="return validateForm()" method="post">

      <div><input class="govuk-input govuk-!-width-two-thirds" id="uprn-number" name="uprn-number" type="text"></div>


      <br>
      <br>
      <button class="govuk-button" data-module="govuk-button">Select address</button>





      </form>
      <br>
      <p><a href="address-lookups-textsearch">I can't see the address in the options</a></p>


      </div>



    </div>


{% endblock %}
