{% extends "layout.html" %}

{% block pageTitle %}
  Postcode address lookup
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/index-address-service" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            Find address using postcode
          </span>
        </span>
      </a>
      <br>
      <br>

    </div>
  </div>



</header>
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Find address using postcode
      </h1>

      <p>If you just have a postcode, you can use this service to find a matching address .</p>


      <p>This service works for addresses in England and Wales.</p>

      <a href="enter-postcode" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>



      <!--
      <h2 class="govuk-heading-m">Before you start</h2>

      <p><strong>Postcode</strong></p>

      <p>You need the postcode of the address to be searched</p>-->

      <br><br>
      <h2 class="govuk-heading-m">About this service</h2>


      <p>This service can be used to find addresses in England and Wales.</p>

      <p>It searches government databases, such the Valuations Office Agency and Ordnance Survey.</p>

      <br><br>
      <h2 class="govuk-heading-m">Before you start</h2>
      <p>You can also <a href="UPRN-start">find address using UPRN </a> or <a href="typeahead-start">search for an address</a></p>


    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
