{% extends "layout.html" %}

{% block pageTitle %}
  UPRN address lookup
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/index-address-service" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            UPRN address lookup
          </span>
        </span>
      </a>
      <br>
      <br>

    </div>
  </div>



</header>
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        UPRN address lookup
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to search address</li>
        <li>to view address details</li>
      </ul>

      <p>This service only works for UK addresses</p>

      <a href="enter-uprn" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p><strong>Unique Property Reference Number (UPRN)</strong></p>

      <p>You should have a 12 digit Unique Property Reference Number (UPRN) for the address.</p>

      <br><br>
      <h2 class="govuk-heading-m">About this service</h2>


      <p>This UPRN service can be used to search & find locations in Great Britain with an address.</p>

      <p>This UPRN lookup searches government databasese for an address, including the Valuations Office Agency and Ordnance Survey.</p>

      <p>This service tries to ensure we have a consistent identifier for a property used in applications accross benefits.</p>

<p>It is not the same as your Council Tax reference number.</p>


    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
