{% extends "layout.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="edit-agent-group.html" class="govuk-back-link">Back</a>
    <form class="form" action="edit-agent-group" method="post">
      <div class="govuk-form-group govuk-!-padding-top-8">
        <fieldset class="govuk-fieldset" aria-describedby="add-another-attribute-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you want to remove the agent?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline govuk-!-padding-top-3">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delete-organisation-unit-yes" name="delete-organisation-unit" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="delete-organisation-unit-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delete-organisation-unit-no" name="delete-organisation-unit" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="delete-organisation-unit-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
