{% extends "tl-tasks.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Refer task to group - DWP Task
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-mytask").removeClass("govuk-header__navigation-item--active");
    $("#menu-manage-tasks").addClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}


<!-- Main content start  -->



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Refer to an agent group
      </h1>

    </div>
      </div>
        <!-- Task information - start -->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Task information</h2>


        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task ID
            </dt>
            <dd class="govuk-summary-list__value">
              DWPP2929
            </dd>

          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task
            </dt>
            <dd class="govuk-summary-list__value">
                <a href="#">Update benefit information on behalf of a claimant</a>
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date allocated
            </dt>
            <dd class="govuk-summary-list__value">
              22/01/2022
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Citizen GUID
            </dt>
            <dd class="govuk-summary-list__value">
              HR238615M
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Claimant name
            </dt>
            <dd class="govuk-summary-list__value">
              J**** Bo**e
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--green">
                Allocated
              </strong>
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Priority
            </dt>
            <dd class="govuk-summary-list__value">
              Very high
            </dd>

          </div>

        </dl>
        <!-- Task information - end -->
        </div>

        <!--  Task history </p> -->

        <div class="govuk-grid-column-one-third">

              <h2 class="govuk-heading-m" id="subsection-title">
                Task history
              </h2>
          <ol style="list-style: none; padding-left:0px;" class="dwp-timeline" class="govuk-list govuk-!-font-size-16">
            <li class="dwp-timeline__entry">
              <h3 class="govuk-heading-s">Started</h3>
              <p class="dwp-timeline__info">
                <span class="govuk-visually-hidden visually-hidden">Task started</span>
                <span class="dwp-timeline__author">by Jason Bourne</span>
                <span class="dwp-timeline__date">29 June 2022 at 13:02</span>
              </p>
            </li>

          </ol>

          <!-- <p><a href="check-claim-details-history">View complete history</a></p> -->


        </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Select agent group and add notes</h2>

      <form class="form" name="reason-for-escalate" action="confirm-refer-to-group"  method="post">

        <div class="govuk-form-group">

        <label class="govuk-label" for="escalate-level">
          Select agent group
        </label>

        <!-- Field Error - Start -->
        <span id="escalate-level-error" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter your reason for not doing this task
        </span>
        <!-- Field Error - End -->

        <select id="escalate-level-select " class="govuk-select govuk-!-width-one-half" name="referred-group" value="" >
          <option value="Team leader" selected>Team leader</option>
          <option value="Decision maker" >Decision maker</option>
        </select>
        </div>




      <!-- Notes -->
      <div class="govuk-form-group" id="more-notes-section">
        <label class="govuk-label" for="escalate-notes">
          Notes (Optional)
        </label>

        <!-- Field Error - Start -->
        <span id="more-notes-text" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter notes
        </span>
        <!-- Field Error - End -->


        <textarea class="govuk-textarea" id="more-notes" name="refer-to-group-notes" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <!-- Reason for escalation -->
      <div class="govuk-form-group" id="more-details">

        <label class="govuk-label" for="more-detail">
          Reason for referring task
        </label>

        <!-- Field Error - Start -->
        <span id="reason-to-escalate-text" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter reason for referring task
        </span>
        <!-- Field Error - End -->

        <textarea class="govuk-textarea" id="more-detail" name="refer-to-group-reason"  rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>



              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  Referring this task will reallocate it to the selected agent group.
                </strong>
              </div>

              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

  </div>

{% endblock %}
