{% extends "tl-tasks.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Reopen task - DWP Task
{% endblock %}



{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-mytask").removeClass("govuk-header__navigation-item--active");
    $("#menu-manage-tasks").addClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}



{% block content %}



<!-- Main content start  -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Reopen task
      </h1>


          </div>
            </div>
              <!-- Task information - start -->
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

              <h2 class="govuk-heading-m">Task information</h2>


              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Task ID
                  </dt>
                  <dd class="govuk-summary-list__value">
                    DWPP2929
                  </dd>

                </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Task
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <a href="#">Update address information</a>
                  </dd>

                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date allocated
                  </dt>
                  <dd class="govuk-summary-list__value">
                    11/06/2022
                  </dd>

                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Citizen GUID
                  </dt>
                  <dd class="govuk-summary-list__value">
                    HR238615M
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Claimant name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    J**** Bo**e
                  </dd>

                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Status
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--grey">
                      Done
                    </strong>
                  </dd>

                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Priority
                  </dt>
                  <dd class="govuk-summary-list__value">
                     Medium
                  </dd>

                </div>

              </dl>
              <!-- Task information - end -->
              </div>

              <!--  Task history </p> -->
<!--
              <div class="govuk-grid-column-one-third">

                    <h2 class="govuk-heading-m" id="subsection-title">
                      Task history
                    </h2>
                <ol style="list-style: none; padding-left:0px;" class="dwp-timeline" class="govuk-list govuk-!-font-size-16">
                  <li class="dwp-timeline__entry">
                    <h3 class="govuk-heading-s">Started</h3>
                    <p class="dwp-timeline__info">
                      <span class="govuk-visually-hidden visually-hidden">Task started</span>
                      <span class="dwp-timeline__author">by Jason Bourne</span>
                      <span class="dwp-timeline__date">29 June 2022 at 13:02</span>
                    </p>
                  </li>

                </ol>



              </div> -->
              </div>

              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
      <form class="form " name="reason-for-reopen" action="confirm-reopen" method="post">
        <!-- <h2 class="govuk-heading-m">Reason for reopen</h2> -->

      <div class="govuk-form-group" id="reason-for-cancel">
        <label class="govuk-label" for="more-detail">
          Reason for reopening this task (optional)
        </label>

        <!-- Field Error - Start -->
        <span id="reason-to-cancel-text" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter reason for reopening task
        </span>
        <!-- Field Error - End -->

        <textarea class="govuk-textarea" id="more-detail" name="reopen-reason" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <button class="govuk-button" data-module="govuk-button">Confirm and reopen</button>

      </form>
    </div>
  </div>

{% endblock %}
