{% extends "tl-tasks.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Reserve task for an agent group - DWP Task
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-mytask").removeClass("govuk-header__navigation-item--active");
    $("#menu-manage-tasks").addClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}


{% block content %}


<!-- Main content start  -->



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Reserve to an agent group
      </h1>


      <!-- Task information - start -->

      <h2 class="govuk-heading-m">Task information</h2>

                          <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Task ID
                              </dt>
                              <dd class="govuk-summary-list__value">
                                DWPP2929
                              </dd>

                            </div>


                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Task
                              </dt>
                              <dd class="govuk-summary-list__value">
                                  <a href="#">Update benefit information on behalf of a claimant</a>
                              </dd>

                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Date allocated
                              </dt>
                              <dd class="govuk-summary-list__value">
                                11/06/2022
                              </dd>

                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Citizen GUID
                              </dt>
                              <dd class="govuk-summary-list__value">
                                HR238615M
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Claimant name
                              </dt>
                              <dd class="govuk-summary-list__value">
                                J**** Bo**e
                              </dd>

                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Status
                              </dt>
                              <dd class="govuk-summary-list__value">
                                <strong class="govuk-tag govuk-tag--grey">
                                  Done
                                </strong>
                              </dd>

                            </div>

                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Priority
                              </dt>
                              <dd class="govuk-summary-list__value">
                                 Medium
                              </dd>

                            </div>

                          </dl>

      <!-- Task information - end -->


      <br>
      <br>
      <h2 class="govuk-heading-m">Select agent group</h2>

      <form class="form" name="reason-for-escalate" action="escalate-confirm-answers" onsubmit="return validateForm()" method="post">

        <div class="govuk-form-group">

        <label class="govuk-label" for="escalate-level">
          Select agent group
        </label>

        <!-- Field Error - Start -->
        <span id="escalate-level-error" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter your reason for not doing this task
        </span>
        <!-- Field Error - End -->

        <select id="escalate-level-select " class="govuk-select govuk-!-width-one-half" name="escalate-level" value="" >
          <option value="Team leader" selected>Team leader</option>
          <option value="Decision maker" >Decision maker</option>
        </select>
        </div>


        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <h2 class="govuk-heading-m">Reserve until</h2>

          <div id="passport-issued-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>

        </fieldset>

      <!-- Notes -->
      <div class="govuk-form-group" id="more-notes-section">
        <label class="govuk-label" for="escalate-notes">
          Notes (Optional)
        </label>

        <!-- Field Error - Start -->
        <span id="more-notes-text" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Notes
        </span>
        <!-- Field Error - End -->


        <textarea class="govuk-textarea" id="more-notes" name="more-notes" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <!-- Reason for escalation -->
      <div class="govuk-form-group" id="more-details">

        <label class="govuk-label" for="more-detail">
          Reason for reserving task
        </label>

        <!-- Field Error - Start -->
        <span id="reason-to-escalate-text" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Reason for reserving task
        </span>
        <!-- Field Error - End -->

        <textarea class="govuk-textarea" id="more-detail" name="more-detail"  rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>


      <br>
      <br>
      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
