{% extends "tl-tasks.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Unsuspend task - DWP Task
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-mytask").removeClass("govuk-header__navigation-item--active");
    $("#menu-manage-tasks").addClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}


{% block content %}



<!-- Main content start  -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Unsuspend task
      </h1>

    </div>
      </div>
        <!-- Task information - start -->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Task information</h2>


        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task ID
            </dt>
            <dd class="govuk-summary-list__value">
              DWPP2929
            </dd>

          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task
            </dt>
            <dd class="govuk-summary-list__value">
                <a href="#">Update payment status</a>
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date allocated
            </dt>
            <dd class="govuk-summary-list__value">
              12/06/2022
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Citizen GUID
            </dt>
            <dd class="govuk-summary-list__value">
              HR238615M
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Claimant name
            </dt>
            <dd class="govuk-summary-list__value">
              J**** Bo**e
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--red">
                Suspended
              </strong>
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Priority
            </dt>
            <dd class="govuk-summary-list__value">
              Very high
            </dd>

          </div>

        </dl>
        <!-- Task information - end -->
        </div>

        <!--  Task history </p> -->

        <!-- <div class="govuk-grid-column-one-third">

              <h2 class="govuk-heading-m" id="subsection-title">
                Task history
              </h2>
          <ol style="list-style: none; padding-left:0px;" class="dwp-timeline" class="govuk-list govuk-!-font-size-16">
            <li class="dwp-timeline__entry">
              <h3 class="govuk-heading-s">Started</h3>
              <p class="dwp-timeline__info">
                <span class="govuk-visually-hidden visually-hidden">Task started</span>
                <span class="dwp-timeline__author">by Jason Bourne</span>
                <span class="dwp-timeline__date">29 June 2022 at 13:02</span>
              </p>
            </li>

          </ol>



        </div> -->
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

      <form class="form " name="reason-for-cancel" action="confirm-unsuspend" onsubmit="return validateForm()" method="post">


      <div class="govuk-form-group" id="reason-for-cancel">
        <label class="govuk-label" for="more-detail">
          Reason for unsuspending task (optional)
        </label>

        <!-- Field Error - Start -->
        <span id="reason-to-cancel-text" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter reason for cancelling task
        </span>
        <!-- Field Error - End -->

        <textarea class="govuk-textarea" id="more-detail" name="unsuspend-reason" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>



                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

      <button class="govuk-button" data-module="govuk-button">Confirm and unsuspend </button>

      </form>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

  </div>

{% endblock %}
