{% extends "tl-tasks.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Unsuspend task
{% endblock %}



{% block content %}



<!-- Main content start  -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Unsuspend task
      </h1>


            <!-- Task information - start -->

            <h2 class="govuk-heading-m">Task information</h2>


            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Task
                </dt>
                <dd class="govuk-summary-list__value">
                    Check non-employment income

                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--blue">
                    In progress
                  </strong>
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Assigned by
                </dt>
                <dd class="govuk-summary-list__value">
                  Me
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Case number
                </dt>
                <dd class="govuk-summary-list__value">
                  HR238615M
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value">
                  Investigate and verify fostering, rental income and direct payment details
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Priority
                </dt>
                <dd class="govuk-summary-list__value">
                  Very high
                </dd>

              </div>

            </dl>

            <!-- Task information - end -->

      <br>
      <br>

      <form class="form " name="reason-for-cancel" action="/my-tasks-using-tl/task-list-cancel-paper-claim#in-progress" onsubmit="return validateForm()" method="post">
        <!-- <h2 class="govuk-heading-m">Suspend task untill</h2> -->

        <!-- <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">

    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 3 2007
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>

  </fieldset>
</div> -->

      <div class="govuk-form-group" id="reason-for-cancel">
        <label class="govuk-label" for="more-detail">
          Reason for unsuspending task (optional)
        </label>

        <!-- Field Error - Start -->
        <span id="reason-to-cancel-text" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter reason for cancelling task
        </span>
        <!-- Field Error - End -->

        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <button class="govuk-button" data-module="govuk-button">Conffirm and suspend task</button>

      </form>
    </div>
  </div>

{% endblock %}
