{% extends 'layout-mt.html' %}


{% block pageTitle %}
  Manage tasks
{% endblock %}



{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds" style="width:65%;">
    <h1 class="govuk-heading-xl">
      My tasks
      <!-- <span class="govuk-body"><a href="/my-tasks/task-list-alternative">Alternate option</a></span> -->
    </h1>
  </div>
  <div class="govuk-grid-column-one-thirds" >
  <a href="add-new-tasks"><button class="govuk-button govuk-!-margin-left-9 " data-module="govuk-button" > Add tasks to my to-do list </button></a>
</div>
</div>


<div class="govuk-grid-row">
    <!-- Secondary Navigation Start-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <nav class="navigation-secondary govuk-!-font-size-19">
          <ul>
            <li>
              <a href="/my-tasks/task-list" class="active" aria-current="section">To-do</a>
            </li>
            <li>
              <a href="/my-tasks/task-list-in-progress">In progress</a>
            </li>
            <li>
              <a href="/my-tasks/task-list-assigned">Assigned or referred</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Secondary Navigation End-->

    <div class="govuk-grid-column-full">
      <br><br>
      <h1 class="govuk-heading-l">
        To-do
      </h1>
      <!-- Table to hold list of tasks -->
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half" style="width:55% !important;">Task</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" style="width:17% !important;">Case number</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" style="width:17% !important;">Assigned by</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" style="width:10% !important;">Priority</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Verify claimant's current address</a></td>
            <td class="govuk-table__cell">XX XX XX 2C</td>
            <td class="govuk-table__cell">Mary M</td>
            <td class="govuk-table__cell">Medium</td>
          </tr>
          <tr class="govuk-table__row">
            <!-- <th scope="row" class="govuk-table__header">Total estimated pay</th> -->
            <td class="govuk-table__cell"><a href="#">Update current details</a></td>
            <td class="govuk-table__cell">XX XX XX 6C</td>
            <td class="govuk-table__cell">System</td>
            <td class="govuk-table__cell">Low</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Verify immigration status  </a></td>
            <td class="govuk-table__cell">XX XX XX 2D</td>
            <td class="govuk-table__cell">James May</td>
            <td class="govuk-table__cell">Very high</td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/citizen/habitual_residency_test/simple_hrt_v3b/verify-nationality">Check residency qualification </a></td>
            <td class="govuk-table__cell">XX XX XX 7E</td>
            <td class="govuk-table__cell">Me</td>
            <td class="govuk-table__cell">Very high</td>
          </tr> -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Update nationality status </a></td>
            <td class="govuk-table__cell">XX XX XX 6C</td>
            <td class="govuk-table__cell">Andrew Smith</td>
            <td class="govuk-table__cell">High</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Verify immigration status </a></td>
            <td class="govuk-table__cell">XX XX XX 5M</td>
            <td class="govuk-table__cell">Me</td>
            <td class="govuk-table__cell">Very high</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Update adderess details</a></td>
            <td class="govuk-table__cell">XX XX XX 9C</td>
            <td class="govuk-table__cell">System</td>
            <td class="govuk-table__cell">High</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Add non-UK address</a></td>
            <td class="govuk-table__cell">XX XX XX 2R</td>
            <td class="govuk-table__cell">Me</td>
            <td class="govuk-table__cell">Very high</td>
          </tr>
          <tr class="govuk-table__row">
            <!-- <td class="govuk-table__cell"><a href="/my-tasks/add-payment/add-payment">Add current residency details</a></td> -->
            <td class="govuk-table__cell"><a href="#">Add non-UK address</a></td>
            <td class="govuk-table__cell">XX XX XX 1E</td>
            <td class="govuk-table__cell">System</td>
            <td class="govuk-table__cell">Medium</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Check residency check qualification</a></td>
            <td class="govuk-table__cell">XX XX XX 9K</td>
            <td class="govuk-table__cell">Mark H</td>
            <td class="govuk-table__cell">Low</td>
          </tr>

        </tbody>
      </table>
      <!-- Table to hold list of tasks -- END -->
    <br>
    </div>

  </div>       <!-- End of main row -->



{% endblock %}
