{% extends "header-banner-for-setup-dwptask-with-name-nav.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Check details of the attribute
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-attributes").addClass("govuk-header__navigation-item--active");
    $("#menu-agents").removeClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").removeClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="add-attributes">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check attribute details
      </h1>

        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['attribute-name'] | default('Language for England and Wales') }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> attribute name</span>
          </a>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Values
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['attribute-uid'] | default('Welsh, English') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> attribute value</span>
            </a>
          </dd>
        </div>

      </dl>


      <form class="form" action="added-to-attributes-list" method="post">
        <div class="govuk-form-group">

      <br>
      <button class="govuk-button" data-module="govuk-button">Confirm and create attribute</button>

      </form>

    </div>
  </div>

{% endblock %}
