{% extends "header-dwptask.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Sign into DWP Manage tasks
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    function validateForm() {
      var emailAddress = document.getElementById("email-address-field").value;
      var password = document.getElementById("password-field").value;

      var emailAddress_error = document.getElementById("email-address-error");
      var password_error = document.getElementById("password-error");

      var error_summary = document.getElementById("no-email-password");
      var error_summary_e = document.getElementById("no-email-only");
      var error_summary_p = document.getElementById("no-password-only");

      if (emailAddress == "" && password == "") {
        error_summary.style.display="block";
        emailAddress_error.style.display="block";
        password_error.style.display="block";

        error_summary_p.style.display="none";
        error_summary_e.style.display="none";

        document.getElementById("no-email-password").focus();
        document.body.scrollTop = document.documentElement.scrollTop = 0;


        $("#signin-form").addClass("govuk-form-group--error");
        $("#email-address-field").addClass("govuk-input--error");
        $("#password-field").addClass("govuk-input--error");
        return false;

      } else if (emailAddress == "" && password !="") {
        error_summary_e.style.display="block";

        error_summary_p.style.display="none";
        error_summary.style.display="none";
        emailAddress_error.style.display="block";
        password_error.style.display="none";

        document.getElementById("no-email-only").focus();
        document.body.scrollTop = document.documentElement.scrollTop = 0;


        $("#signin-form").removeClass("govuk-form-group--error");

        $("#email-address-field").addClass("govuk-input--error");
        $("#div-email-address").addClass("govuk-form-group--error");

        $("#password-field").removeClass("govuk-input--error");
        $("#div-password").removeClass("govuk-form-group--error");

        return false;
      } else if (emailAddress != "" && password =="") {
        error_summary_p.style.display="block";

        error_summary_e.style.display="none";
        error_summary.style.display="none";
        emailAddress_error.style.display="none";
        password_error.style.display="block";

        document.getElementById("no-password-only").focus();
        document.body.scrollTop = document.documentElement.scrollTop = 0;


        $("#signin-form").removeClass("govuk-form-group--error");

        $("#password-field").addClass("govuk-input--error");
        $("#div-password").addClass("govuk-form-group--error");

        $("#email-address-field").removeClass("govuk-input--error");
        $("#div-email-address").removeClass("govuk-form-group--error");

        return false;
      }
    }
  </script>

{% endblock %}



{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/self-service/index-self-service" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP Task
          </span>
        </span>
      </a>
    </div>
  </div>
</header>

{% endblock %}


{% block content %}

<!-- Error Summary - Start -->
<div class="govuk-error-summary govuk-radios__conditional--hidden" id="no-email-password" tabindex="-1" data-module="govuk-error-summary" >
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#email-address-error">Enter valid email address </a>
      </li>
    </ul>
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#password-error">Enter password </a>
      </li>
    </ul>
  </div>
</div>
<!-- Error Summary - End -->

<!-- Error Summary - Start -->
<div class="govuk-error-summary govuk-radios__conditional--hidden" id="no-email-only" tabindex="-1" data-module="govuk-error-summary" >
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#email-address-error">Enter valid email address </a>
      </li>
    </ul>
  </div>
</div>
<!-- Error Summary - End -->

<!-- Error Summary - Start -->
<div class="govuk-error-summary govuk-radios__conditional--hidden" id="no-password-only" tabindex="-1" data-module="govuk-error-summary" >
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#password-error">Enter password </a>
      </li>
    </ul>
  </div>
</div>
<!-- Error Summary - End -->


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-6" style="border:1px solid;">
      <br>
      <h1 class="govuk-heading-xl">
        User is authenticated before access to the service and directed to next page
      </h1>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h1 class="govuk-heading-s">
        Option 1:
        <p>Single sign in (preferred method)</p>

      </h1>

      <h1 class="govuk-heading-s">
        Option 2:
        <p>Using username and password</p>

      </h1>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <a href="admin-self-service-1/want-to-setup-new"><button class="govuk-button" data-module="govuk-button">Continue</button></a>

        </div>






    </div>


{% endblock %}
