{% extends "admin-header.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Common attributes
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- Breadcrumbs for the page -->

        <div class="govuk-breadcrumbs" style="background:#ffffff; ">
          <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v2/org-business-list">Business areas</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link govuk-!-font-weight-bold">Common Characteristics</a>
            </li>

          </ol>
        </div>
  </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Characteristics List
      </h1>


      <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Value(s)</th>
      <!-- <th scope="col" class="govuk-table__header">Status</th> -->
      <th scope="col" class="govuk-table__header" style="text-align:right;">Actions</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ data['attribute-name'] | default('Language for England and Wales') }}</td>
      <td class="govuk-table__cell"> {{ data['value-0'] }} , {{ data['value-1'] }} , {{ data['value-2'] }} , {{ data['value-3'] }}</td>
      <!-- <td class="govuk-table__cell"> {{ data['attribute-status'] | default('Active') }}</td> -->
      <td class="govuk-table__cell" style="text-align:right;"><a href="change-attribute">Modify status</a></td>


    </tr>

  </tbody>
</table>

<p><a href="add-attributes">Add attribute</a></p>
<br><br>
<a href="/self-service/admin-v2/org-business-list"><button class="govuk-button" data-module="govuk-button">Go to business areas</button></a>

    </div>
  </div>

{% endblock %}
