{% extends "admin-header.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Common attributes
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- Breadcrumbs for the page -->

        <div class="govuk-breadcrumbs" style="background:#ffffff; ">
          <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v2/org-business-list">Organisation units or business areas</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link govuk-!-font-weight-bold">Common attributes</a>
            </li>

          </ol>
        </div>
  </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Common attributes
      </h1>


      <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="width:30%" >Name</th>
      <th scope="col" class="govuk-table__header" style="width:50%" >Value(s)</th>
      <th scope="col" class="govuk-table__header" >Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Location </td>
      <td class="govuk-table__cell">Newcastle</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Location </td>
      <td class="govuk-table__cell">London</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Location </td>
      <td class="govuk-table__cell">Leeds</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Language </td>
      <td class="govuk-table__cell">English</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Language </td>
      <td class="govuk-table__cell">Welsh</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Language </td>
      <td class="govuk-table__cell">Irish</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Role </td>
      <td class="govuk-table__cell">Decision Maker</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Role </td>
      <td class="govuk-table__cell">Specialist</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Role  </td>
      <td class="govuk-table__cell">Processing agent</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Role </td>
      <td class="govuk-table__cell">Telephony</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Level </td>
      <td class="govuk-table__cell">Grade 5</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Level </td>
      <td class="govuk-table__cell">Grade 7, Decision Maker</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Skill </td>
      <td class="govuk-table__cell">New Claims</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Skill </td>
      <td class="govuk-table__cell">Recovery</td>
      <td class="govuk-table__cell" ><a href="modify-agent-details">Modify </a> &nbsp; <a href="remove-agent">Remove</a></td>
    </tr>

  </tbody>
</table>

<p><a href="add-attributes">Add attribute</a></p>
<br><br>
<!-- <a href="/self-service/admin-self-service-1/setup-task-list"><button class="govuk-button" data-module="govuk-button">Continue setup with task list</button></a> -->

    </div>
  </div>

{% endblock %}
