{% extends "admin-header-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Setup complete confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
Thank you for your feedback.      </h1>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">


      <a href="/self-service/admin-v3/org-business-list"><button class="govuk-button" data-module="govuk-button">
          View your business areas
      </button></a>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">What happens next</h2>
      <p></p>
      <p>We will take action on your feedback or ask for more information.</p>
      <!-- <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p> -->


    </div>
  </div>

{% endblock %}
