{% extends "admin-header-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Give feedback on DWP Task service

{% endblock %}



{% block content %}
<main class="govuk-template__body">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">
              Give feedback on DWP Task service
            </h1>

            <!-- <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="more-detail">
                Satisfaction survery
              </label>
            </h1> -->
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

            <form class="form" method="post" action="feedback-thankyou">

        <fieldset class="govuk-fieldset">


        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="more-detail">
            Overall, how do you feel about the service today?
          </label>
        </h1>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Very satisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Satisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
              Neither satisfied or dissatisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
              Dissatisfied
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
              Very dissatisfied
            </label>
          </div>
        </div>

        </fieldset>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

        <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="more-detail">
      How can we improve this service?
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Do not include personal information, like customer's National Insurance number or identification details.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">Send feedback</button>

</form>

        </div>
    </div>




</main>


{% endblock %}
