{% extends "admin-header-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Manage your business area - DWP Task - Manage
{% endblock %}


{% block content %}
<main class="govuk-template__body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">
            Manage your business area
            </h1>
            <p class="govuk-!-padding-bottom-8">View details, add & modify agent profiles, groups and activities.</p>
    </div>
    </div>

    <!-- List of business areas -->
    <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" style="width:80%;">Business area name</th>
                    <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Attendance Allowance</td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-underline" style="text-decoration:none;">View dashboard</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Bereavement support</td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-underline" style="text-decoration:none;">View dashboard</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Carer's Allowance</td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-underline" style="text-decoration:none;">View dashboard</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Care Homes</td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-underline" style="text-decoration:none;">View dashboard</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Cross Retirement</td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-underline" style="text-decoration:none;">View dashboard</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Get your state pension</td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-underline" style="text-decoration:none;">View dashboard</a></td>
                  </tr>

                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Health</td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-underline" style="text-decoration:none;">View dashboard</a></td>
                  </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Pension Credit</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-underline" style="text-decoration:none;">View dashboard</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Searchlight</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-underline" style="text-decoration:none;">View dashboard</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">State Pension</td>
                    <td class="govuk-table__cell"><a href="maintain/dashboard">View dashboard</a></td>
                </tr>

                </tbody>
            </table>





          </div>
      </div>

      <div class="govuk-grid-row ">
            <div class="govuk-grid-column-one-half">
                <p class="contact-panel govuk-body  govuk-!-padding-top-6">
                  <a href="/self-service/admin-v3/manage-agent-profiles/agents-list.html" >Agent profiles</a><br>
                  <span class="govuk-hint">Manage agent profile and their task matching attributes</span>
                </p>
            </div>

            <div class="govuk-grid-column-one-half">
                <p class="contact-panel govuk-body  govuk-!-padding-top-6">
                  <a href="/self-service/admin-v3/attributes/attributes-list" >Common attributes</a><br>
                  <span class="govuk-hint">Common skills, roles, languages and locations</span>
                </p>
            </div>
      </div>






</main>


{% endblock %}
