{% extends "admin-header.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Glossary of terms - DWP Task Manage
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
<main class="govuk-template__body">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">
              Help and guidance
            </h1>
            <!-- <p class="govuk-body-l">List of terms used in this service</p> -->
        </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h1 class="govuk-heading-l">
      Glossary
    </h1>
    <p class="govuk-body-l">List of terms used in this service</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

          <div class="govuk-grid-column-three-quarters">
              <h1 class="govuk-heading-m">
                Characteristics
              </h1>
              <p>Characteristics are features that an agent or task may have (such as language, role, skill or location). Agents and tasks can be matched if they share the same characteristics.</p>
          </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-m">
            Activities [or Task templates]
          </h1>
          <p>Activities [or Task templates] are repetitive tasks that can be created simply by submitting the appropriate subject key or citizen GUID (global unique identifier).</p>
      </div>

    </div>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-m">
            Agent profiles
          </h1>
          <p>Agent profiles are profiles of staff with a particular set of skills who are able to work on tasks. They can belong to one or more business areas and be part of an agent group.
</p>
      </div>

    </div>



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-m">
            Agent groups
          </h1>
          <p>Agent groups are made up of staff who have the same skills in their agent profile. Agents can claim tasks as members of a group using their group attributes.</p>
      </div>

    </div>

    <div class="govuk-grid-row">







    <div class="govuk-grid-column-three-quarters">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h1 class="govuk-heading-l">
        Guidance
      </h1>
      <p class="govuk-body-l">List of common issues and solutions</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h1 class="govuk-heading-m">
          I can't see the details I have added before?
        </h1>
        <p>Reload the page. You can find 'Reload the page' option in the menu 'View' </p>
        <p>If you cannot see details please get in touch with an <a href="common-capablities-team">DWP Digital team (Common Capablities)</a> and provide detials for the issue to be resolved or .</p>
    </div>

    </div>

</main>


{% endblock %}
