{% extends "header-setup-dwptask.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Check organisation information
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check organisation information
      </h1>

        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['business-service-name']  | default('Get your state pension') }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="service-domain">
            Change<span class="govuk-visually-hidden"> attribute name</span>
          </a>
          </dd>

        </div>


      </dl>
      <div class="govuk-warning-text">
        <br>

  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Your have to setup your organisation again if you change the organisation name later.
  </strong>
</div>

      <form class="form" action="setup-task-list-added-org" method="post">
        <div class="govuk-form-group">

      <br>
      <button class="govuk-button" data-module="govuk-button">Confirm and create</button>

      </form>

    </div>
  </div>

{% endblock %}
