{% extends "header-setup-dwptask.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Check details of the attribute
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-tag--blue">
      Prototype
    </strong>&nbsp;<strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
      Set up or maintain your organisation to use DWP Task.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="add-attributes">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check details
      </h1>

      <h1 class="govuk-heading-m">
        Attribute details
      </h1>

        <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['attribute-name'] | default('Language for England and Wales') }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-attribute-details">
            Change<span class="govuk-visually-hidden"> attribute name</span>
          </a>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Value(s)
          </dt>
          <dd class="govuk-summary-list__value">
           {{ data['value-0'] }}  {{ data['value-1'] }}  {{ data['value-2'] }}  {{ data['value-3'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-attribute-details">
              Change<span class="govuk-visually-hidden"> attribute value</span>
            </a>
          </dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
           {{ data['attribute-status'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-attribute-details">
              Change<span class="govuk-visually-hidden"> attribute value</span>
            </a>
          </dd>
        </div> -->

      </dl>
      <form class="form" action="/self-service/admin-self-service-1/attributes/add-attributes-add-another" method="post">

      <div class="govuk-form-group govuk-!-padding-top-8">
  <fieldset class="govuk-fieldset" aria-describedby="add-another-attribute-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you want to add another attribute?
      </h1>
    </legend>
    <!-- <div id="add-another-attribute-hint" class="govuk-hint">
      Add another attribute to the attributes list.
    </div> -->
    <div class="govuk-radios govuk-radios--inline govuk-!-padding-top-3">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="add-another-attribute" name="add-another-attribute" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="add-another-attribute">
          Yes, I want to add another
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="add-another-attribute-2" name="add-another-attribute" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="add-another-attribute-2">
          No, take me to the list of attributes
        </label>
      </div>
    </div>

  </fieldset>


      <br><br>
      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
