{% extends "header-banner-for-setup-dwptask.html" %}
{% extends "layout.html" %}


{% block pageTitle %}
  Services on DWP Manage tasks
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Services and business areas
    </h1>

    <p class="govuk-!-padding-bottom-8">Maintain or set up a new service or business area. You can manage tasks, agents and task matching attributes.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Name</th>
            <th scope="col" class="govuk-table__header">Actions</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Common capabilities </td>
            <td class="govuk-table__cell"><a href="/self-service/admin-self-service-1/maintain/dashboard">Maintainance dashboard</a></td>
            <td class="govuk-table__cell"><a href="#">Remove</a></td>
          </tr>
      </tbody>
    </table>

<p class="govuk-heading-s govuk-!-padding-top-8">Want to add a new service or business area? </p>
<p><a href="service-domain-maintainance">Add new service or business area</a></p>


  </div>
</div>





{% endblock %}
