{% extends "header-banner-for-setup-dwptask-with-name-nav.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Maintain your business areas
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").addClass("govuk-header__navigation-item--active");
    $("#menu-attributes").removeClass("govuk-header__navigation-item--active");
    $("#menu-agents").removeClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").removeClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}



{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-body">Organisation</span><br>
      {{ data['business-service-name'] | default('Business service name') }}
<br><span class="govuk-body"><strong>Domain</strong>: http://uk.dwp.rbc.cc.not-an-actual-domain</span><br>
    </h1>

    </div>

  <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-m">Summary
      <span class="govuk-hint">Last updated: 15 November 2021 </span>
  </h1>
  </div>



  <div class="govuk-grid-column-one-half " >
    <div class="govuk-!-padding-4" style="border:1px solid #999999;"><label class="govuk-label" for="overall-statistics">Attributes</label>
    <h1 class="govuk-heading-xl">
      2
      <p><a href="attributes/attributes-list">View all</a></p>
    </h1>
    </div>
  </div>

  <div class="govuk-grid-column-one-half " >
    <div class=" govuk-!-padding-4" style="border:1px solid #999999;"><label class="govuk-label" for="overall-statistics">Agent profiles</label>
    <h1 class="govuk-heading-xl">
      2
      <p><a href="agents/agents-list">View all</a></p>
    </h1>
    </div>
  </div>

  <div class="govuk-grid-column-full">
  <hr class="govuk-section-break govuk-section-break--hidden govuk-section-break--m">
  </div>

  <div class="govuk-grid-column-one-half " >
    <div class="govuk-!-padding-4" style="border:1px solid #999999;"><label class="govuk-label" for="overall-statistics">Activities</label>
    <h1 class="govuk-heading-xl">
      1
      <p><a href="task-definitions/added-task-defi">View all</a></p>
    </h1>
    </div>
  </div>


  </div>
  <hr class="govuk-section-break govuk-section-break--hidden govuk-section-break--l">



{% endblock %}
