{% extends "admin-header-with-nav-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Add attribute - DWP Task - Manage
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-group").removeClass("govuk-header__navigation-item--active");
    $("#menu-char").addClass("govuk-header__navigation-item--active");
    $("#menu-agents").removeClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").removeClass("govuk-header__navigation-item--active");

  </script>
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- Breadcrumbs for the page -->

        <div class="govuk-breadcrumbs" style="background:#ffffff; ">
          <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/dashboard">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/char-ba/char-list">Attributes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link govuk-!-font-weight-bold">Add attribute</a>
            </li>

          </ol>
        </div>
  </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">



    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">

      <li>
        <a href="#attribute-value-error">Enter attribute value </a>
      </li>
    </ul>
  </div>
</div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Add attribute

      </h1>
      <div class="govuk-inset-text">
        Attributes are criteria used to match tasks with agents. They have names and values.
      <br>
      <br>
      <p>For example:</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Attribute name</th>
            <th scope="col" class="govuk-table__header">Attribute value(s)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Skill</td>
            <td class="govuk-table__cell">New claims</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Language</td>
            <td class="govuk-table__cell">Welsh, Spanish, Italian</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Role</td>
            <td class="govuk-table__cell">Policy specialist</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Location</td>
            <td class="govuk-table__cell">Newcastle, London, Blackpool</td>
          </tr>
        </tbody>
      </table>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

      <form class="form" method="post" action="check-add-char">
        <fieldset class="govuk-fieldset" data-required data-error="Cannot be blank">

          <br>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="attribute-name">
            Attribute name
          </label>

          <input class="govuk-input govuk-!-width-one-half" id="attribute-name" name="attribute-name" type="text" value="Specialities" ></div>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">





            <h1 class="govuk-heading-l">
              Add attribute values
            </h1>

            <div class="govuk-form-group govuk-form-group--error">

            <fieldset class="govuk-fieldset" data-required="" data-error="Cannot be blank">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="attribute-value">
                  Value
                </label>
                <p id="attribute-value-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Enter attribute value
                </p>
                <input class="govuk-input govuk-input--width-30 govuk-input--error" type="text" id="attribute-value" name="attribute-value" value="Counceller">
                <br><br>
                <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="addRow();">Add</button>
              </div>
            </div>
              <h1 class="govuk-heading-m">
                Added values
              </h1>

              <div class="govuk-form-group">
                <table class="govuk-table" id="attribute-values">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Value</th>
                      <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell">No value added</td>
                    <td class="govuk-table__cell"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </fieldset>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

            <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
            </form>

            </div>
            </div>





    </div>
  </div>


  <script language="JavaScript">
  function addRow() {
    var attributeValue = document.getElementById('attribute-value');
    var table = document.getElementById('attribute-values');

    var rowCount = table.rows.length;
    var row = table.insertRow(rowCount);
    row.className = 'govuk-table__row';

    var valueCell = row.insertCell(0);
    valueCell.innerHTML = attributeValue.value;
    valueCell.id = 'attribute-value-' + attributeValue.value;
    valueCell.className = 'govuk-table__cell';

    var actionCell = row.insertCell(1);
    actionCell.innerHTML = '<a class="govuk-link" data-module="govuk-link" onclick="javascript:removeRow(' + rowCount + ');">Remove</a>';
    actionCell.className = 'govuk-table__cell';
  }

  function removeRow(index) {
    var table = document.getElementById('attribute-values');
    table.deleteRow(index);
  }
  </script>



{% endblock %}
