{% extends "admin-header-with-nav-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Add attribute - DWP Task - Manage
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-group").removeClass("govuk-header__navigation-item--active");
    $("#menu-char").addClass("govuk-header__navigation-item--active");
    $("#menu-agents").removeClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").removeClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- Breadcrumbs for the page -->

        <div class="govuk-breadcrumbs" style="background:#ffffff; ">
          <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/dashboard">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/char-ba/char-list">Attributes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link govuk-!-font-weight-bold">Modify </a>
            </li>

          </ol>
        </div>
  </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">



    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Modify attribute

      </h1>
      <div class="govuk-inset-text">
        Attributes are criteria used to match tasks with agents. They have names and values.
      <br>
      <br>
      <p>For example:</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Attribute name</th>
            <th scope="col" class="govuk-table__header">Value</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Skill</td>
            <td class="govuk-table__cell">New claims</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Language</td>
            <td class="govuk-table__cell">Welsh, Spanish, Italian</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Role</td>
            <td class="govuk-table__cell">Policy specialist</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Location</td>
            <td class="govuk-table__cell">Newcastle, London, Blackpool</td>
          </tr>
        </tbody>
      </table>
      </div>

      <form class="form" method="post" action="check-modify-char">
        <fieldset class="govuk-fieldset" data-required data-error="Cannot be blank">

          <br>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="attribute-name">
            Attribute name
          </label>
          <!-- <p class="govuk-hint">For example, ‘Skill’, ‘Location’, ‘Role’ or ‘Language’. </p> -->
          <input class="govuk-input govuk-!-width-one-half" id="attribute-name" name="attribute-name" type="text" value="Specialist" ></div>


<br>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="attribute-uid">
            Attribute value
          </label>
          <!-- <p class="govuk-hint">If the characteristic name is ‘Skill’, the value could be ‘New claims’ or ‘Policy specialist’. </p> -->
          <!-- <input class="govuk-input govuk-!-width-two-thirds" id="attribute-uid" name="attribute-uid" type="text"></div>

          <a href="#"><button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add another value
          </button></a> -->

          <div class="add-remove-block add-remove-block--has-min-items govuk-body" data-add-remove-block-add-message="Attribute values added: {labelIndex}" data-add-remove-block-remove-message="Attribute value {labelIndex} has been removed" data-add-remove-block-remove-all-message="All attribute values have been removed" data-add-remove-block-start="1" data-add-remove-block-min="1" data-add-remove-block-max="20">

          <div class="add-remove-block__status visuallyhidden" role="status" aria-live="polite"></div>
          <ul class="add-remove-block__list" style="padding-left:0px;"><li class="add-remove-block__item" data-item-index="0" style="list-style-type:none;">
            <label class="form-label-bold" for="condition-0">Attribute value <span class="add-remove-block__label-index">1</span> </label> <br>
              <input class="govuk-input  govuk-!-width-one-third" type="text" id="value-0" name="value-0" value="Fraud investigator">
              <button class="add-remove-block__remove-trigger govuk-button govuk-button--secondary" type="button">
                Remove value
              </button>
            </li></ul>
            <ul class="add-remove-block__list" style="padding-left:0px;"><li class="add-remove-block__item" data-item-index="0" style="list-style-type:none;">
              <label class="form-label-bold" for="condition-0">Attribute value <span class="add-remove-block__label-index">1</span> </label> <br>
                <input class="govuk-input  govuk-!-width-one-third" type="text" id="value-0" name="value-0" value="Case investigator">
                <button class="add-remove-block__remove-trigger govuk-button govuk-button--secondary" type="button">
                  Remove value
                </button>
              </li></ul>

            <!-- <div class="govuk-inset-text">
              You can add multiple values to an attribute and create group. For example 'Language' can have multiple values like 'English', 'Welsh' or 'Irish'.
            </div> -->
          <div class="button-combo gutter-half-bottom">
            <button type="button" class="add-remove-block__add-trigger govuk-button govuk-button--secondary">Add another value</button>
            <!-- <button type="button" class="add-remove-block__remove-all-trigger button-combo__right govuk-link">Remove all values</button> -->
          </div>
          <script type="text/x-template" class="add-remove-block__item-tpl">
            <li class="add-remove-block__item" data-item-index="{index}" style="list-style-type: none; padding-left:0px;">
              <label class="form-label-bold" for="condition-{index}">Attribute value <span class="add-remove-block__label-index"></span></label><br>
              <input class="govuk-input govuk-!-width-one-third" type="text" id="value-{index}" name="value-{index}">
              <button class="add-remove-block__remove-trigger govuk-button govuk-button--secondary" type="button">
                Remove value
              </button>
            </li>
          </script>
        </div>

      </fieldset>



      <br><br>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>






    </div>
  </div>

{% endblock %}
