{% extends "admin-header-with-nav.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Remove - Activities
{% endblock %}


{% block beforeContent %}

    {{ super() }}

        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <!-- Breadcrumbs for the page -->

            <div class="govuk-breadcrumbs" style="background:#ffffff; ">
              <ol class="govuk-breadcrumbs__list">

                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="/self-service/admin-v2/maintain/dashboard">Dashboard</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="/self-service/admin-v2/maintain/task-definitions/task-defi">Activities</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link govuk-!-font-weight-bold" >Remove activity</a>
                </li>

              </ol>
            </div>
        </div>
        </div>
    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Do you want to remove activity?
      </h1>
        <div class="govuk-form-group">

          <br>
          <p><strong class="govuk-heading-m">Activity details</strong></p>



          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Activity or task name
            </dt>
            <dd class="govuk-summary-list__value">
              Award updates (SRBs)
            </dd>


          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Priority
            </dt>
            <dd class="govuk-summary-list__value">
              Very high
            </dd>


          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Execution URL
            </dt>
            <dd class="govuk-summary-list__value">
              https://sp.dwp.gov.uk/3434asdf/award-review
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Completion time (days)
            </dt>
            <dd class="govuk-summary-list__value">
              28
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task matching characteristics
            </dt>
            <dd class="govuk-summary-list__value">
              Newcastle, Specialist, Grade 7, Fraud
            </dd>


          </div>

          </dl>


<br>
<br>
<form class="form" action="/self-service/admin-v2/maintain/task-definitions/remove-task" method="post">
  <div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <p class="govuk-heading-l">Do you want to delete this task definition? </p>
    <div id="changed-name-hint" class="govuk-hint">
      This will remove the task definition from the list permanently. You will no longer will be able to use this definition to match tasks for agents.
    </div><br>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="remove-attribute" name="remove-task-definition" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="remove-task-definition">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="remove-task-definition" name="remove-task-definition" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="remove-task-definition-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
  </div>

<br><br><br>
<button class="govuk-button" data-module="govuk-button">Confirm and continue</button>

</form>
    </div>
  </div>

{% endblock %}
