{% extends "admin-header-with-nav-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Create agent group - Agent groups
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-group").addClass("govuk-header__navigation-item--active");
    $("#menu-char").removeClass("govuk-header__navigation-item--active");
    $("#menu-agents").removelass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").removeClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}


{% block beforeContent %}

    {{ super() }}


      <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <!-- Breadcrumbs for the page -->

          <div class="govuk-breadcrumbs" style="background:#ffffff; ">
            <ol class="govuk-breadcrumbs__list ">

              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/dashboard-agentAdded">Dashboard</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/agent-groups/agent-groups-list">Agent groups</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link govuk-!-font-weight-bold" >Create agent group</a>
              </li>

            </ol>
          </div>
    </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">

            <h1 class="govuk-heading-xl">
              Create agent group
            </h1>

      <br>
                <div class="govuk-form-group">

                  <label class="govuk-fieldset__legend--s govuk-!-font-weight-bold" for="agent-group-name">
                    Group name
                  </label>
                  <p class="govuk-hint">The name of the group in your business area</p>
                  <input class="govuk-input govuk-input--width-30" id="agent-group-name" name="agent-group-name" type="text" value="{{ data['agent-group-name'] }}">

                </div>



        </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <label class="govuk-fieldset__legend--l govuk-!-font-weight-bold" for="agents">
          Select and add agent to the group
        </label>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">


                <form class="form" method="post" action="add-agent-group-char">
                  <fieldset class="govuk-fieldset" >

                    <div class="govuk-form-group">


                      <select class="govuk-select govuk-!-width-one-half" id="agent-selected" name="agent-selected">
                        <option>- Select agent - </option>
                      </select>

                  </div>

                    <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="addRow();">Add agent</button>

                  <br><br>
                  <h2 class="govuk-heading-m">
                    Selected agents
                  </h2>

                  <div class="govuk-form-group">
                    <table class="govuk-table" id="agent-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Agent names and staff number</th>
                          <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                      </tbody>
                    </table>
                  </div>

                  <br><br>
                  <div class="govuk-inset-text" >
                    <p><span class="govuk-!-font-weight-bold">Can't see the agent you want? </span><br><a href="/self-service/admin-v3/maintain/agents/add-agent.html">Add agent profile</a> </p>




                  </fieldset>
                  <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                  </form>

              </div>
              </div>

              <script type="text/javascript" src="/public/javascripts/agent-list.js"></script>







      </div>


  </div>




{% endblock %}
