{% extends "admin-header-with-nav-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Add agent characteristics - Agent profiles
{% endblock %}

{% block beforeContent %}

    {{ super() }}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- Breadcrumbs for the page -->

        <div class="govuk-breadcrumbs" style="background:#ffffff; ">
          <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/dashboard">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/agent-groups/agent-groups-list">Agent groups</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v2/maintain/agent-groups/add-agent-group">Create agent group</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link govuk-!-font-weight-bold">Add group characteristics</a>
            </li>

          </ol>
        </div>
    </div>
    </div>


    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block pageScripts %}


    <link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
    <script src="/public/javascripts/accessible-autocomplete-char.min.js" rel="stylesheet" type="text/javascript"></script>
    <script src="/public/javascripts/assets_js_auto-complete-char.js" rel="stylesheet" type="text/javascript"></script>



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


              <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View agent group details
        </span>
      </summary>
      <form class="form" method="post" action="check-add-agent-group">


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Group name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['group-name'] | default('ID2232DS') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-agent-group">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Agents in the group
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['agents-0'] | default('James Bond') }}, {{ data['agents-1'] | default('James Bond') }}, {{ data['agents-2'] | default('James Bond') }},
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-agent-group">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

      </dl>


    </details>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
          Add group characteristics
        </h1>

          <fieldset class="govuk-fieldset" >
            <div class="govuk-form-group">


              <label class="govuk-label govuk-!-font-weight-bold" for="task-subject">
                Characteristic
              </label>

              <p class="govuk-hint">Start typing and select characteristics from the list or enter a new one </p>

              <div class="govuk-body">


                <!-- <div><input class="govuk-input govuk-!-width-two-fourth" id="char-search" name="characteristics" type="" ></div> -->
                <div class="govuk-body govuk-!-width-one-quarter" id="char-search" name="characteristics" > </div>


              <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="addRow();">Add Characteristic to list</button>
            </div>

            <h1 class="govuk-heading-m">
              Agent group characteristics
            </h1>

            <div class="govuk-form-group">
              <table class="govuk-table" id="characteristics-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Characteristic</th>
                    <!-- <th scope="col" class="govuk-table__header">Criteria</th> -->
                    <th scope="col" class="govuk-table__header">Action</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row" id="nodataadded">
                    <td class="govuk-table__cell">No characteristic added</td>
                    <!-- <td class="govuk-table__cell"></td> -->
                    <td class="govuk-table__cell"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>
          <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
          </form>
        </div>
      </div>

      <script language="JavaScript">



      function addRow() {

        var count = 1;

        if (count = 1) {

          function removeRow(id) {
            var tr = document.getElementById(id);
            if (tr) {
              if (tr.nodeName == 'TR') {
                var tbl = tr; // Look up the hierarchy for TABLE
                while (tbl != document && tbl.nodeName != 'TABLE') {
                  tbl = tbl.parentNode;
                }

                if (tbl && tbl.nodeName == 'TABLE') {
                  while (tr.hasChildNodes()) {
                    tr.removeChild( tr.lastChild );
                  }
                tr.parentNode.removeChild( tr );
                }
              } else {
                alert( 'Specified document element is not a TR. id=' + id );
              }
            } else {
              alert( 'Specified document element is not found. id=' + id );
            }
          }

        removeRow('nodataadded');
        count = 2;

        }
        var characteristics = document.getElementById('char-search');
        var char_criteria = document.getElementsByName('char-criteria');
        var table = document.getElementById('characteristics-table');

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        row.className = 'govuk-table__row';
        var intialrow = document.getElementById('nodataadded');

        var valueCell = row.insertCell(0);
        valueCell.innerHTML = characteristics.value;
        valueCell.id = 'characteristics-' + characteristics.value;
        valueCell.className = 'govuk-table__cell';



        var actionCell = row.insertCell(1);
        actionCell.innerHTML = '<a class="govuk-link" data-module="govuk-link" onclick="javascript:removeRow(' + rowCount + ');">Remove</a>';
        actionCell.className = 'govuk-table__cell';
        characteristics.value = '';

      }

      function removeRow(index) {
        var table = document.getElementById('characteristics-table');
        table.deleteRow(index);
      }
      </script>





  </div>
</div>




{% endblock %}
