{% extends "admin-header-with-nav-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Add group characteristics - Agent groups
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-group").addClass("govuk-header__navigation-item--active");
    $("#menu-char").removeClass("govuk-header__navigation-item--active");
    $("#menu-agents").removelass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").removeClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}


{% block beforeContent %}

    {{ super() }}
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- Breadcrumbs for the page -->

        <div class="govuk-breadcrumbs" style="background:#ffffff; ">
          <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/dashboard">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/agent-groups/agent-groups-list">Agent groups</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v2/maintain/agent-groups/add-agent-group">Create agent group</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link govuk-!-font-weight-bold">Add group characteristics</a>
            </li>

          </ol>
        </div>
    </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">



    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


              <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View agent group details
        </span>
      </summary>
      <form class="form" method="post" action="check-add-agent-group">

        <div class="govuk-details__text">

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Group name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['agent-group-name'] | default('Special team') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-agent-group">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Agents in the group
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['agent-selected'] | default('James Bond - JB8282') }}, {{ data['agents-1'] | default('Andy Ram - AR2992') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="add-agent-group">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

      </dl>
    </div>

    </details>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
          Add group characteristics
        </h1>

          <fieldset class="govuk-fieldset" >
            <div class="govuk-form-group">


              <form class="form" action="check-add-agent-group">
                <fieldset class="govuk-fieldset" data-required="" data-error="Cannot be blank">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="task-subject">
                      Characteristic
                    </label>

                    <p class="govuk-hint">Select at least one characteristic to help match the agents to a task. </p>

                    <div class="govuk-form-group">


                    <select class="govuk-select govuk-!-width-one-half" id="selected-char" name="selected-char">
                      <option>Select characteristic</option>


                    </select>

                  </div>
                  <br>
                    <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="addRow();">Add characteristics</button>
                  </div>

                  <h2 class="govuk-heading-m">
                    Selected characteristics
                  </h2>

                  <div class="govuk-form-group">
                    <table class="govuk-table" id="characteristics">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Characteristics</th>
                          <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                      </tbody>
                    </table>
                  </div>
                </fieldset>

                <br><br>
                <div class="govuk-inset-text " >
                  <p><span class="govuk-!-font-weight-bold">Can't see the characteristics you want? </span><br><a href="/self-service/admin-v3/maintain/agent-groups/char-agent/add-char.html">Add characteristics</a> </p>
                  <div class="govuk-warning-text">

                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  You will be redirected to adding new characteristics.
                </strong>
                </div>
                </div>

                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                </form>

                <script type="text/javascript" src="/public/javascripts/char-list.js"></script>

              </div>
            </div>


  </div>
</div>




{% endblock %}
