{% extends "header-banner-for-setup-dwptask-with-name-nav.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Add agent
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-attributes").removeClass("govuk-header__navigation-item--active");
    $("#menu-agents").addClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").removeClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}


{% block beforeContent %}

  <a class="govuk-back-link" href="agents-list">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form class="form" action="add-agent-attributes" method="post">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
              Add agent profile
            </h1>

              <fieldset class="govuk-fieldset">


              <div class="govuk-form-group">
                <label class="govuk-label" for="agent-name">
                  Full name
                </label>

                <input class="govuk-input" id="agent-name" name="agent-name" type="text"></div>

                <div class="govuk-form-group">
                <label class="govuk-label" for="agent-keyid">
                  Key or ID
                </label>
                <p class="govuk-hint">The unique identifier for the agent </p>

                <input class="govuk-input govuk-!-width-two-thirds" id="agent-keyid" name="agent-keyid" type="text"></div>
                <label class="govuk-label" for="sort">
                Status
                <p class="govuk-hint">The primary property for this attribute. </p>
                </label>

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="remove-agent" name="agent-status" type="radio" value="Active" {{ checked("agent-status", "Active") }}>
                  <label class="govuk-label govuk-radios__label" for="remove-attribute">
                    Active
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="remove-agent-2" name="agent-status" type="radio" value="Inactive" {{ checked("agent-status", "Inctive") }}>
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Inactive
                  </label>
                </div>
              </div>


              </fieldset>
        </div>
        </div>
        <br>
        <br>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
    </form>

  </div>
</div>



{% endblock %}
