{% extends "header-banner-for-setup-dwptask-with-name-nav.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Agent profiles list
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-attributes").removeClass("govuk-header__navigation-item--active");
    $("#menu-agents").addClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").removeClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}



{% block content %}
<hr class="govuk-section-break govuk-section-break--hidden govuk-section-break--xl">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Agent profiles
        <p class="govuk-hint"></p>

      </h1>

      <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" style="width:20%">Staff number </th>
        <th scope="col" class="govuk-table__header" style="width:40%">Status</th>
        <th scope="col" class="govuk-table__header" style="width:10%">Attributes</th>
        <th scope="col" class="govuk-table__header" style="text-align:right;">Actions</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">JKM32DS</td>
          <td class="govuk-table__cell">Decision maker</td>
          <td class="govuk-table__cell"> Active</td>
          <td class="govuk-table__cell" style="text-align:right;"><a href="modify-agent-details">Modify profile</a> &nbsp; <a href="remove-agent">Remove</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ID122DS</td>
          <td class="govuk-table__cell">Processing agent</td>
          <td class="govuk-table__cell"> Inactive</td>
          <td class="govuk-table__cell" style="text-align:right;"><a href="modify-agent-details">Modify profile</a> &nbsp; <a href="remove-agent">Remove</a></td>

        </tr>

      </tbody>
      </table>

      <p><a href="#">Add agent profile</a></p>
      <br><br>
      <a href="/self-service/admin-self-service-1/maintain/dashboard"><button class="govuk-button" data-module="govuk-button">Continue to summary page</button></a>
    </div>
  </div>

{% endblock %}
