{% extends "header-banner-for-setup-dwptask-with-name-nav.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Add agent
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-attributes").removeClass("govuk-header__navigation-item--active");
    $("#menu-agents").addClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").removeClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="modify-agent-details">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form class="form" action="modify-agent-details" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Add or modify agent attributes
      </h1>
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agent name
        </dt>

        <dd class="govuk-summary-list__value">
          {{ data['agent-name'] | default('Jason Bourne') }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">


    </dl>
      <div class="govuk-form-group">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <p><strong class="govuk-heading-m">Agent attributes added</strong></p>
                      <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" style="border-bottom:0px;">
                          Attribute
                        </dt>
                        <dd class="govuk-summary-list__value" style="border-bottom:0px;">
                          {{ data['attribute'] | default('Decision maker') }}
                        </dd>
                        <dd class="govuk-summary-list__actions" style="border-bottom:0px;">
                        <a class="govuk-link" href="">
                          Remove
                        </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Type
                        </dt>
                        <dd class="govuk-summary-list__value">
                          {{ data['attribute-property'] | default('Role') }}
                        </dd>
                        <dd class="govuk-summary-list__actions">

                        </dd>
                      </div>
                    </dl>
                    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--hidden">
                    <p><strong class="govuk-heading-l">Add new attributes</strong></p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

          <label class="govuk-label" for="sort">
          Type
          <p class="govuk-hint">The primary property for this attribute. </p>
          </label>

        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="remove-agent" name="attribute-property" type="radio" value="Mandatory">
            <label class="govuk-label govuk-radios__label" for="remove-attribute">
              Mandatory
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="remove-agent-2" name="attribute-property" type="radio" value="Optional">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              Optional
            </label>
          </div>
        </div>
      </fieldset>
      <br>
      <div class="moj-add-another">
        <div class="govuk-form-group ">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <br>
      <label class="govuk-label" for="sort">
      Attribute
      </label>
      <select class="govuk-select govuk-!-width-two-thirds" id="sort" name="attribute">
      <option value="Not selected">-Select- </option>
      <option value="Decision maker">Decision maker </option>
      <option value="Processing agent" >Processing agent</option>
      <option value="Specialist">Specialist</option>
      <option value="Team manager">Team manager</option>
      <option value="Leeds">Leeds</option>
      <option value="Newcastle">Newcastle</option>
      <option value="New claims">New claims</option>
      </select>


      </fieldset>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <button class="govuk-button govuk-button--secondary  govuk-!-margin-bottom-4" data-module="govuk-button">Add another attribute</button>
      </div>

      <p><strong>Can't see the agent attribute you want? </strong> &nbsp;<a href="/self-service/admin-self-service-1/attributes/add-attributes.html">Add attribute</a> </p>
      <br>

    </div>
    </div>
  </div>
  <button class="govuk-button" data-module="govuk-button">Save and continue</button>
  </form>

  </div>
</div>



{% endblock %}
