{% extends "header-setup-dwptask.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Task definition
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    function getDate () { var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = mm + '/' + dd + '/' + yyyy;
    document.write(today);
   }
  </script>
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-tag--blue">
      Prototype
    </strong>&nbsp;<strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
      Set up or maintain your organisation to use DWP Task.
    </span>
  </p>
</div>
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/self-service/admin-self-service-1/setup-task-list-added-org-attri-agent-acti">Setup task list</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">List activities</a>
  </li>
</ol>
</div>
<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Activities list
      </h1>

      <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Execution URL</th>
      <!-- <th scope="col" class="govuk-table__header">Type</th> -->
      <th scope="col" class="govuk-table__header" style="text-align:right;">Actions</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ data['task-defi-name'] | default('Verify address for NI') }}</td>
      <td class="govuk-table__cell">{{ data['task-url'] | default('sp.dwp.gov.uk/asdi23232asd/sdfsf') }}</td>
      <!-- <td class="govuk-table__cell">{{ data['activity-type'] | default('Regular') }}</td> -->
      <td class="govuk-table__cell" style="text-align:right;"><a href="view-defi-details">View Details</a>&nbsp;<a href="remove-task">Remove</a></td>
    </tr>


  </tbody>
</table>

<p><a href="type-of-activity">Add an activity</a></p>
<br><br>
<a href="/self-service/admin-self-service-1/setup-task-list-added-org-attri-agent-acti"><button class="govuk-button" data-module="govuk-button">Continue setup with task list</button></a>

    </div>
  </div>

{% endblock %}
