{% extends "header-setup-dwptask.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Check task definition details
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-tag--blue">
      Prototype
    </strong>&nbsp;<strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
      Set up or maintain your organisation to use DWP Task.
    </span>
  </p>
</div>
  <a class="govuk-back-link" href="added-task-defi">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-s">
      Activity

      </h1>
      <h1 class="govuk-heading-xl">
      {{ data['task-defi-name'] | default('Verify address for NI template') }}

      </h1>
      <form class="form"  method="post" action="added-task-defi">
        <div class="govuk-form-group">

          <br>
          <p><strong class="govuk-heading-m">Activity </strong></p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Activity type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['activity-type'] | default('Regular') }}
            </dd>

          </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Activity name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['task-defi-name'] | default('Verify address for NI template') }}
          </dd>


        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task name to be displayed for agents
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['agent-task-name'] | default('Verify address') }}
          </dd>

        </div>


      </dl>
      <br>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <p><strong class="govuk-heading-m">Definition detials</strong></p>
              <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Priority
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['task-priority'] | default('Very high') }}
                </dd>


              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Execution URL
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['task-url'] | default('sp.dwp.gov.uk/asdi23232asd/sdfsf') }}
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  SLA (days)
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['task-sla'] | default('None') }}
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reserve tasks in days
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['task-reserve'] | default('2') }}
                </dd>

              </div>

            </dl>

      <br>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <p><strong class="govuk-heading-m">Task matching attributes</strong></p>
              <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attributes
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['task-attribute'] | default('Decision maker') }}
                </dd>


              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type of attribute
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['task-attribute-property'] | default('Welsh, English') }}
                </dd>

              </div>

            </dl>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--hidden">

        <button class="govuk-button" data-module="govuk-button">Back to list</button>

        </div>
      </form>

    </div>
  </div>

{% endblock %}
