{% extends "layout.html" %}

{% block pageTitle %}
  Find your address
{% endblock %}

{% set serviceName %}
  Find your address
{% endset%}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/address_look_up/select_address_pattern" method="post">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl">
              Find your address
            </h1>
          </legend>


          <div class="govuk-form-group">
            <label class="govuk-heading-m" for="address-number">
              Property number
            </label>
            <input class="govuk-input govuk-input--width-10" id="property-num" name="property-num" type="integer">


            <div class="govuk-checkboxes govuk-!-padding-top-2 govuk-!-padding-bottom-5" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
                <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                  I have a registered property name
                </label>
              </div>

              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    Enter property name
                  </label>
                  <div id="contact-hint" class="govuk-hint">
                    Property name should be a registered name that is part of your address. For example 'Rose cottage' or 'River house'
                  </div>
                  <input class="govuk-input govuk-!-width-two-thirds" id="property-name" name="property-name"  autocomplete="tel"></div>

              </div>
            </div>


            <label class="govuk-heading-m" for="address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-20" id="postcode-add" name="postcode-add" type="text">
          </div>

        </fieldset>
<br>
        <button class="govuk-button">Find address</button>
        <!-- <p><a href="/address_look_up/enter_address_pattern" >I want to enter my address manually</a></p> -->
      </form>

    </div>
  </div>

{% endblock %}
