{% extends "admin-header-with-nav-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Add agent business areas - Agent profiles
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-group").removeClass("govuk-header__navigation-item--active");
    $("#menu-char").removeClass("govuk-header__navigation-item--active");
    $("#menu-agents").removeClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").addClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}

{% block beforeContent %}

    {{ super() }}


    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Do you want to add characteristics to this task template?</h1>

      <form class="form" action="/add-tt-char-ba" method="post">
        <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

                          <p class="govuk-body">
                            This could be a skill, location, language or other criteria to help match an agent to a task.
                          </p>
                          <br>
                          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="add-char-answer" name="add-char-answer" type="radio" value="yes">
                              <label class="govuk-label govuk-radios__label" for="add-char-answer">
                                Yes
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="add-char-answer-2" name="add-char-answer" type="radio" value="no">
                              <label class="govuk-label govuk-radios__label" for="add-char-answer-2">
                                No
                              </label>
                            </div>
                          </div>

                        </fieldset>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--hidden">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
