{% extends "admin-header-with-nav-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Modify task template - Task templates - DWP Task Manage
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-group").removeClass("govuk-header__navigation-item--active");
    $("#menu-char").removeClass("govuk-header__navigation-item--active");
    $("#menu-agents").removeClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").addClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- Breadcrumbs for the page -->

        <div class="govuk-breadcrumbs" style="background:#ffffff; ">
          <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/dashboard">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/task-definitions/task-defi">Task templates</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link govuk-!-font-weight-bold" >Modify task template</a>
            </li>

          </ol>
        </div>
    </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Modify task template <br>
      </h1>

      <form class="form" action="modify-check-defi-details" method="post">


        <fieldset class="govuk-fieldset govuk-!-padding-top-5">


        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="task-name">
          Task template name
          </label>
          <p class="govuk-hint"> For example "Verify address for NI" or "Find an address" or "Reopened Claim".  </p>

          <input class="govuk-input govuk-!-width-two-thirds" id="task-defi-name" name="task-defi-name" type="text" value="Award updates (SRBs)" ></div>


      </fieldset>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="task-priority">
              Priority
            </label>
            <!-- <p class="govuk-hint">Select priority for these types of tasks. Default priority is 'Medium' </p> -->
            <!-- <input class="govuk-input govuk-!-width-one-third" id="task-priority" name="task-priority" value="{{ data['task-priority'] }}"> -->

            <select class="govuk-select govuk-!-width-one-half" id="task-priority" name="task-priority" value="{{ data['task-priority'] }}" >
            <option value="No prority selected">-Select priority- </option>
            <option value="Very high" selected>Very High</option>
            <option  value="High">High </option>
            <option value="Medium">Medium (Default)</option>
            <option value="Normal">Normal</option>
            <option value="Low">Low</option>
            <option value="Very low">Very low</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="task-subject">
              Task start page
            </label>
            <p class="govuk-hint">This is the web page address where the task will start.

 </p>
            <input class="govuk-input govuk-!-width-two-thirds" id="task-url" name="task-url" type="text" value="https://sp.dwp.gov.uk/3434asdf/award-review" ></div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="task-subject">
                Time for task completion (optional)
              </label>

              <fieldset class="govuk-fieldset">
                <p class="govuk-hint">Fill in the number of days or hours it should take to complete this task. </p>
            <input class="govuk-input govuk-!-width-one-quarter" id="task-sla" name="task-sla" type="text" value="28">
                    <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios" style="display: inline-block; vertical-align:middle; padding-left:20px;">


                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" checked id="changed-name" name="changed-name" type="radio" value="month">
                        <label class="govuk-label govuk-radios__label" for="changed-name">
                          Days
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                          Hours
                        </label>
                      </div>

                    </div>

              </fieldset>


    </fieldset>




            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



            <h2 class="govuk-heading-l">
              Attribute values and criteria
            </h2>

            <div class="govuk-form-group">
              <table class="govuk-table" id="characteristics">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Value</th>
                    <th scope="col" class="govuk-table__header">Criteria</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                  </tr>
                </thead>

                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Newcastle</td>
                    <td class="govuk-table__cell">Manditory</td>
                  <td class="govuk-table__cell"><a class="govuk-link" data-module="govuk-link" onclick="javascript:removeRow_R(1);">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Specilist</td>
                  <td class="govuk-table__cell">Manditory</td>
                <td class="govuk-table__cell"><a class="govuk-link" data-module="govuk-link" onclick="javascript:removeRow_R(1);">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Grade 7</td>
                  <td class="govuk-table__cell">Optional</td>
                <td class="govuk-table__cell"><a class="govuk-link" data-module="govuk-link" onclick="javascript:removeRow_R(1);">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Fraud</td>
                  <td class="govuk-table__cell">Manditory</td>
                <td class="govuk-table__cell"><a class="govuk-link" data-module="govuk-link" onclick="javascript:removeRow_R(1);">Remove</a></td>
              </tr>
                </tbody>
              </table>
            </div>
            <p><a href="/self-service/admin-v3/maintain/task-definitions/add-char.html">Add new task matching values and criteria</a></p>











    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--hidden">

      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
