{% extends "admin-header-with-nav-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Confirm removal - Award updates (SRBs) - Task template
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-group").removeClass("govuk-header__navigation-item--active");
    $("#menu-char").removeClass("govuk-header__navigation-item--active");
    $("#menu-agents").removeClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").addClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}


{% block beforeContent %}
    {{ super() }}

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- Breadcrumbs for the page -->

        <div class="govuk-breadcrumbs" style="background:#ffffff; ">
          <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/dashboard">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/task-definitions/task-defi">Task templates</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link govuk-!-font-weight-bold">Confirm and remove</a>
            </li>

          </ol>
        </div>
  </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


  {{ govukBackLink ({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Do you want to remove task template?
      </h1>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

        <div class="govuk-form-group">

          <br>
          <p><strong class="govuk-heading-m">Task template details</strong></p>



          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task name
            </dt>
            <dd class="govuk-summary-list__value">
              Award updates (SRBs)
            </dd>


          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Priority
            </dt>
            <dd class="govuk-summary-list__value">
              Very high
            </dd>


          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task start page (URL)
            </dt>
            <dd class="govuk-summary-list__value">
              https://sp.dwp.gov.uk/3434asdf/award-review
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time for task completion (days)
            </dt>
            <dd class="govuk-summary-list__value">
              28
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task matching attribute values and criteria
            </dt>
            <dd class="govuk-summary-list__value">
              Newcastle (Manditory) <br>
              Specialist (Manditory)<br>
              Grade 7 (Optional)<br>
              Fraud (Manditory)
            </dd>


          </div>

          </dl>


<br>
<br>

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">

      <div class="govuk-form-group" style="max-width:90%;">

      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <p class="govuk-heading-l">Confirmation removal</p>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            This will remove the task template from the list permanently. You will no longer will be able to use this definition to match tasks for agents.
          </strong>
        </div>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="remove-attribute" name="remove-task-definition" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="remove-task-definition">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="remove-task-definition" name="remove-task-definition" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="remove-task-definition-2">
              No
            </label>
          </div>
        </div>

      </fieldset>
      </div>
      <br><br>

      <a href="task-defi"><button class="govuk-button" data-module="govuk-button">Confirm</button></a>
  </div>


</div>







</div>
</div>
    </div>
  </div>

{% endblock %}
