{% extends "admin-header-with-nav-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Award updates (SRBs) - Task templates
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").removeClass("govuk-header__navigation-item--active");
    $("#menu-group").removeClass("govuk-header__navigation-item--active");
    $("#menu-char").removeClass("govuk-header__navigation-item--active");
    $("#menu-agents").removeClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").addClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}

{% block beforeContent %}
    {{ super() }}

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- Breadcrumbs for the page -->

        <div class="govuk-breadcrumbs" style="background:#ffffff; ">
          <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/dashboard">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/self-service/admin-v3/maintain/task-definitions/task-defi">Task templates</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link govuk-!-font-weight-bold">Award updates (SRBs)</a>
            </li>

          </ol>
        </div>
  </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


    <a class="govuk-back-link" href="/self-service/admin-v3/maintain/dashboard">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">


    <div class="govuk-grid-column-full">
      <h1 class="govuk-body govuk-!-font-size-20">
        Details for activity:
      </h1>
      <h1 class="govuk-heading-xl">
        Award updates (SRBs) <br>
        <a class="govuk-link" href="#" >
          <span class="govuk-body">Modify</span>
        </a>
      </h1>
      <p class="govuk-heading-l">

      </p>

      <form class="form"  method="post" action="task-defi">


      <dl class="govuk-summary-list">
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Activity or task name
        </dt>
        <dd class="govuk-summary-list__value">
          Award updates (SRBs)
        </dd>


      </div> -->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Priority
        </dt>
        <dd class="govuk-summary-list__value">
          Very high
        </dd>


      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Task start page (URL)
        </dt>
        <dd class="govuk-summary-list__value">
          https://sp.dwp.gov.uk/3434asdf/award-review
        </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Time for task completion (days)
        </dt>
        <dd class="govuk-summary-list__value">
          28
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Task matching characteristics
        </dt>
        <dd class="govuk-summary-list__value">
          Newcastle, Specialist, Grade 7, Fraud
        </dd>


      </div>

      </dl>



        <br><br>
        <button class="govuk-button" data-module="govuk-button">Back to task templates</button>
      </form>
        </div>


    </div>


{% endblock %}
