{% block header %}
<header role="banner" class="gem-c-layout-super-navigation-header">
  <div class="gem-c-layout-super-navigation-header__container govuk-width-container govuk-clearfix">
    <div class="gem-c-layout-super-navigation-header__header-logo">
      <a class="govuk-header__link govuk-header__link--homepage" data-track-action="logoLink" data-track-category="headerClicked" data-track-dimension-index="29" href="/" id="logo" title="Go to the DWP Task Setup and Manage homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            DWP Task
          </span>
        </span>
        <span class="govuk-header__product-name">Manage</span>

      </a>
    </div>
    <nav aria-labelledby="super-navigation-menu-heading" class="gem-c-layout-super-navigation-header__content" data-module="govuk-header">
      <h2 id="super-navigation-menu-heading" class="govuk-visually-hidden">
        Navigation menu
      </h2>
      <button aria-controls="super-navigation-menu" aria-expanded="true" aria-label="Hide navigation menu" class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" data-text-for-hide="Hide navigation menu" data-text-for-show="Show navigation menu" data-toggle-desktop-group="hidden" data-toggle-mobile-group="top" data-tracking-key="menu" hidden="" id="super-navigation-menu-toggle" type="button">
        Menu
      </button>




  <ul id="gem-c-layout-super-navigation-header__navigation-item" class="gem-c-layout-super-navigation-header__navigation-items">
    <li class="gem-c-layout-super-navigation-header__navigation-item" id="menu-dashboard">
      <a class="gem-c-layout-super-navigation-header__navigation-item-link" href="/self-service/admin-v2/maintain/dashboard">
        Dashboard
      </a>
    </li>



    <li class="gem-c-layout-super-navigation-header__navigation-item " id="menu-agents">
      <a class="gem-c-layout-super-navigation-header__navigation-item-link" href="/self-service/admin-v2/maintain/agents/agents-list">
        Agent profiles
      </a>
    </li>
    <li class="gem-c-layout-super-navigation-header__navigation-item " id="menu-group">
      <a class="gem-c-layout-super-navigation-header__navigation-item-link" href="/self-service/admin-v2/maintain/agent-groups/agent-groups-list">
        Agent groups
      </a>
    </li>
    <li class="gem-c-layout-super-navigation-header__navigation-item " id="menu-task-definitions">
      <a class="gem-c-layout-super-navigation-header__navigation-item-link" href="/self-service/admin-v2/maintain/task-definitions/task-defi">
        Activities
      </a>
    </li>
    <li class="gem-c-layout-super-navigation-header__navigation-item">
         <a class="gem-c-layout-super-navigation-header__navigation-item-link" data-module="gem-track-click" data-track-action="departmentsLink" data-track-category="headerClicked" data-track-label="" data-track-dimension="Departments" data-track-dimension-index="29" href="/self-service/admin-v2/confirmation-signout.html">Sign out</a>
      </li>

  </ul>



    </nav>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
<!-- <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-tag--blue">
      Private Alpha
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
      Set up and maintain your organisation or business area on DWP Task service.
    </span>
  </p>
</div> -->

<div class="govuk-grid-column-full" style="border-bottom:1px solid #b1b4b6; padding-top:20px; padding-left:0px;" >
  <div class="govuk-grid-column-one-half" style="padding-left:0px;">
    <span class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">Get your state pension</span>
    <!-- <span class="govuk-hint"><strong>Domain</strong>: http://uk.dwp.gysp.not-an-actual-domain</span> -->
  </div>
  <div class="govuk-grid-column-one-half" style="padding-right:0px;" >
    <p style="text-align:right;"><a href="/self-service/admin-v2/org-business-list"  >Switch organisation</a></p>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-footer__heading govuk-heading-s">Feedback and help information</h2>

        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/self-service/admin-v2/get-in-touch.html"">
              Feedback
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/self-service/admin-v2/terms-and-glossary">
              Glossary of terms
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/self-service/admin-v2/get-in-touch.html">
              Contact the team
            </a>
          </li>

        </ul>



      </div>


     <div class="govuk-footer__meta-item  govuk-footer__meta-item--grow">

      </div>

    </div>
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">


        Built by the <a href="/self-service/admin-v2/common-capablities-team.html" class="govuk-footer__link">DWP Digital Team</a>

      </div>
   </div>

  </div>
</footer>
{% endblock %}
