{% extends "header-setup-dwptask.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Check organisation information
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-tag--blue">
      Prototype
    </strong>&nbsp;<strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
      Set up or maintain your organisation to use DWP Task.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="service-domain">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check organisation information
      </h1>

        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['business-service-name']  | default('Get your state pension') }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="modify-org">
            Change<span class="govuk-visually-hidden"> attribute name</span>
          </a>
          </dd>
          </div>

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['organisation-description']  | default('No description added') }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="modify-org">
            Change<span class="govuk-visually-hidden"> Organisation Description</span>
          </a>
          </dd>

        </div>


      </dl>
      <div class="govuk-warning-text">
        <br>

  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Your have to setup your organisation again if you change the organisation name later.
  </strong>
</div>

      <form class="form" action="setup-task-list-added-org" method="post">
        <div class="govuk-form-group">

      <br>
      <button class="govuk-button" data-module="govuk-button">Confirm and create</button>

      </form>

    </div>
  </div>

{% endblock %}
