{% extends "admin-header-with-nav-v3.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard - Bereavement - DWP Task manage
{% endblock %}


{% block pageScripts %}
  <script type="text/javascript">
    $("#menu-dashboard").addClass("govuk-header__navigation-item--active");
    $("#menu-attributes").removeClass("govuk-header__navigation-item--active");
    $("#menu-agents").removeClass("govuk-header__navigation-item--active");
    $("#menu-task-definitions").removeClass("govuk-header__navigation-item--active");
  </script>
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
<!--
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-body">Organisation name</span><br>
      {{ data['business-service-name'] | default('Business service name') }}
<br><span class="govuk-body"><strong>Domain</strong>: http://uk.dwp.rbc.cc.not-an-actual-domain</span><br>
    </h1>

    </div> -->

    <hr class="govuk-section-break govuk-section-break--hidden govuk-section-break--l">

  <div class="govuk-grid-column-full ">
    <span class="govuk-hint">Last updated: 12 June 2022 </span>
  <h1 class="govuk-heading-xl">Dashboard
  </h1>
  </div>



  <div class="govuk-grid-column-one-half " >
    <div class="govuk-!-padding-4" style="border:1px solid #1d70b8; background:#1d70b8;">


      <span class="govuk-!-font-size-80 govuk-!-font-weight-bold govuk-body" style="color:#ffffff;">
      5
      <br>
      <p><a href="char-ba/char-list" style="color:#ffffff;">Characteristics</a></p>
    </span>
    </div>
  </div>

  <div class="govuk-grid-column-one-half " >
    <div class="govuk-!-padding-4" style="border:1px solid #1d70b8; background:#1d70b8;">
    <h1 class="govuk-!-font-size-80 govuk-!-font-weight-bold govuk-body" style="color:#ffffff;">
      12
      <br>
      <p><a href="agents/agents-list" style="color:#ffffff;">Agents</a></p>
    </h1>
    </div>
  </div>



  <div class="govuk-grid-column-full">
  <hr class="govuk-section-break govuk-section-break--hidden govuk-section-break--m">
  </div>

    <div class="govuk-grid-column-one-half " >
      <div class=" govuk-!-padding-4" style="border:1px solid #1d70b8; background:#1d70b8;">
      <h1 class="govuk-!-font-size-80 govuk-!-font-weight-bold govuk-body" style="color:#ffffff;">
        3
        <p><a href="agent-groups/agent-groups-list" style="color:#ffffff;">Agent groups</a></p>
      </h1>
      </div>
    </div>

  <div class="govuk-grid-column-one-half " >
    <div class="govuk-!-padding-4" style="border:1px solid #1d70b8; background:#1d70b8;">
    <h1 class="govuk-!-font-size-80 govuk-!-font-weight-bold govuk-body" style="color:#ffffff;">
      1
      <p><a href="task-definitions/task-defi" style="color:#ffffff;">Task templates</a></p>
    </h1>
    </div>
  </div>
  <div class="govuk-grid-column-one-half " >

  </div>
<!--
  <div class="govuk-grid-column-full">
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
  <h1 class="govuk-heading-m">Activity usage
    <span class="govuk-hint">Usage of task matching activity templates </span>

  </h1>
  <hr class="govuk-section-break govuk-section-break--hidden govuk-section-break--m">

  <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row" style="border:0px;">
      <th scope="col" class="govuk-table__header govuk-!-font-weight-regular govuk-body" style="border:0px;">Activity template name</th>
      <th scope="col" class="govuk-table__header govuk-!-font-weight-regular govuk-body" style="border:0px;">Number of times triggered</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body govuk-!-padding-3">
    <tr class="govuk-table__row govuk-!-padding-bottom-3" style="border:0px;">
      <td class="govuk-table__cell" style="border:0px;"><a href="#" class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-body">Verify address for NI</a>
        <span class="govuk-hint">Verify address</span>
      </td>
      <td class="govuk-table__cell govuk-!-font-size-24 govuk-!-font-weight-bold govuk-body " style="border:0px;">142</td>
    </tr>

    <tr class="govuk-table__row" style="border:0px; govuk-!-padding-bottom-3">
      <td class="govuk-table__cell" style="border:0px;"><a href="#" class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-body">Award updates (SRBs) </a>
        <span class="govuk-hint">Review an award</span>
      </td>
      <td class="govuk-table__cell govuk-!-font-size-24 govuk-!-font-weight-bold govuk-body " style="border:0px;">98</td>
    </tr>

    <tr class="govuk-table__row" style="border:0px; govuk-!-padding-bottom-3">
      <td class="govuk-table__cell" style="border:0px;"><a href="#" class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-body">Verify address for England and Wales</a>
        <span class="govuk-hint">Verify address</span>
      </td>
      <td class="govuk-table__cell govuk-!-font-size-24 govuk-!-font-weight-bold govuk-body " style="border:0px;">49</td>
    </tr>



  </tbody>
</table>




  </div>

 -->




  </div>
  <hr class="govuk-section-break govuk-section-break--hidden govuk-section-break--l">

  <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

  <!-- Help section -->
  <!-- <p class="govuk-heading-m">Need help?</p>
  <p >View <a href="/self-service/admin-v2/terms-and-glossary.html" >View help and guidance</a> page</p> -->
{% endblock %}
